services:
  postgres:
    image: postgres:16
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./postgres-init:/docker-entrypoint-initdb.d

  gotenberg:
    image: gotenberg/gotenberg:8
    ports:
      - "3000:3000"

  api:
    image: node:20-alpine
    working_dir: /app
    command: sh -c "npm i && npm run start:dev"
    env_file:
      - .env
    environment:
      PORT: ${API_PORT}
      DATABASE_URL: ${DATABASE_URL}
      STORAGE_DRIVER: ${STORAGE_DRIVER}
      STORAGE_BASE_PATH: ${STORAGE_BASE_PATH}
      GOTENBERG_URL: ${GOTENBERG_URL}
      JWT_SECRET: ${JWT_SECRET}
      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_USER: ${SMTP_USER}
      SMTP_PASS: ${SMTP_PASS}
      SMTP_FROM: ${SMTP_FROM}
    volumes:
      - ../apps/api:/app
      - ../infra/storage:/storage
      - ../packages:/packages
    ports:
      - "${API_PORT:-4000}:4000"
    depends_on:
      - postgres
      - gotenberg

  pgadmin:
    image: dpage/pgadmin4
    container_name: infra-pgadmin-1
    restart: always
    env_file:
      - .env
    ports:
      - "${PGADMIN_PORT:-5050}:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    depends_on:
      - postgres

  web:
    image: node:20-alpine
    working_dir: /app
    command: sh -c "npm i && npm run build && npm run start -- -p 3000"
    env_file:
      - .env
    environment:
      NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    volumes:
      - ../apps/web:/app
      - ../packages:/packages
    ports:
      - "${WEB_PORT:-3001}:3000"
    depends_on:
      - api

volumes:
  pgdata:
