--
-- PostgreSQL database dump
--

\restrict Jbp7g1wkn5wGbJdRGVMpWXXN1NxHFwc8F4O6egRHUmcaET5TddQL8rALhNqSAAg

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: edl_items; Type: TABLE; Schema: public; Owner: rentalos
--

CREATE TABLE public.edl_items (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    edl_session_id uuid NOT NULL,
    section text NOT NULL,
    label text NOT NULL,
    entry_condition text DEFAULT 'Bon'::text NOT NULL,
    entry_notes text,
    exit_condition text DEFAULT 'Bon'::text NOT NULL,
    exit_notes text
);


ALTER TABLE public.edl_items OWNER TO rentalos;

--
-- Name: inventory_catalog_items; Type: TABLE; Schema: public; Owner: rentalos
--

CREATE TABLE public.inventory_catalog_items (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    category text NOT NULL,
    name text NOT NULL,
    unit text DEFAULT 'piece'::text NOT NULL,
    default_qty integer DEFAULT 0 NOT NULL,
    label text
);


ALTER TABLE public.inventory_catalog_items OWNER TO rentalos;

--
-- Name: unit_template_edl_items; Type: TABLE; Schema: public; Owner: rentalos
--

CREATE TABLE public.unit_template_edl_items (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    template_id uuid NOT NULL,
    section text NOT NULL,
    label text NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.unit_template_edl_items OWNER TO rentalos;

--
-- Name: unit_template_edl_variant_items; Type: TABLE; Schema: public; Owner: rentalos
--

CREATE TABLE public.unit_template_edl_variant_items (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    template_id uuid NOT NULL,
    variant_code text NOT NULL,
    section text NOT NULL,
    label text NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.unit_template_edl_variant_items OWNER TO rentalos;

--
-- Name: unit_template_inventory_items; Type: TABLE; Schema: public; Owner: rentalos
--

CREATE TABLE public.unit_template_inventory_items (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    template_id uuid NOT NULL,
    category text NOT NULL,
    name text NOT NULL,
    unit text DEFAULT 'piece'::text NOT NULL,
    default_qty integer DEFAULT 1 NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.unit_template_inventory_items OWNER TO rentalos;

--
-- Name: unit_template_inventory_variant_items; Type: TABLE; Schema: public; Owner: rentalos
--

CREATE TABLE public.unit_template_inventory_variant_items (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    template_id uuid NOT NULL,
    variant_code text NOT NULL,
    category text NOT NULL,
    name text NOT NULL,
    unit text DEFAULT 'piece'::text NOT NULL,
    default_qty integer DEFAULT 1 NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.unit_template_inventory_variant_items OWNER TO rentalos;

--
-- Name: unit_templates; Type: TABLE; Schema: public; Owner: rentalos
--

CREATE TABLE public.unit_templates (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    code text NOT NULL,
    bedrooms_count integer NOT NULL,
    rooms_count integer NOT NULL,
    is_duplex boolean DEFAULT false NOT NULL,
    label text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.unit_templates OWNER TO rentalos;

--
-- Data for Name: edl_items; Type: TABLE DATA; Schema: public; Owner: rentalos
--



--
-- Data for Name: inventory_catalog_items; Type: TABLE DATA; Schema: public; Owner: rentalos
--



--
-- Data for Name: unit_template_edl_items; Type: TABLE DATA; Schema: public; Owner: rentalos
--



--
-- Data for Name: unit_template_edl_variant_items; Type: TABLE DATA; Schema: public; Owner: rentalos
--



--
-- Data for Name: unit_template_inventory_items; Type: TABLE DATA; Schema: public; Owner: rentalos
--



--
-- Data for Name: unit_template_inventory_variant_items; Type: TABLE DATA; Schema: public; Owner: rentalos
--



--
-- Data for Name: unit_templates; Type: TABLE DATA; Schema: public; Owner: rentalos
--



--
-- Name: edl_items edl_items_pkey; Type: CONSTRAINT; Schema: public; Owner: rentalos
--

ALTER TABLE ONLY public.edl_items
    ADD CONSTRAINT edl_items_pkey PRIMARY KEY (id);


--
-- Name: inventory_catalog_items inventory_catalog_items_pkey; Type: CONSTRAINT; Schema: public; Owner: rentalos
--

ALTER TABLE ONLY public.inventory_catalog_items
    ADD CONSTRAINT inventory_catalog_items_pkey PRIMARY KEY (id);


--
-- Name: unit_template_edl_items unit_template_edl_items_pkey; Type: CONSTRAINT; Schema: public; Owner: rentalos
--

ALTER TABLE ONLY public.unit_template_edl_items
    ADD CONSTRAINT unit_template_edl_items_pkey PRIMARY KEY (id);


--
-- Name: unit_template_edl_variant_items unit_template_edl_variant_items_pkey; Type: CONSTRAINT; Schema: public; Owner: rentalos
--

ALTER TABLE ONLY public.unit_template_edl_variant_items
    ADD CONSTRAINT unit_template_edl_variant_items_pkey PRIMARY KEY (id);


--
-- Name: unit_template_inventory_items unit_template_inventory_items_pkey; Type: CONSTRAINT; Schema: public; Owner: rentalos
--

ALTER TABLE ONLY public.unit_template_inventory_items
    ADD CONSTRAINT unit_template_inventory_items_pkey PRIMARY KEY (id);


--
-- Name: unit_template_inventory_variant_items unit_template_inventory_variant_items_pkey; Type: CONSTRAINT; Schema: public; Owner: rentalos
--

ALTER TABLE ONLY public.unit_template_inventory_variant_items
    ADD CONSTRAINT unit_template_inventory_variant_items_pkey PRIMARY KEY (id);


--
-- Name: unit_templates unit_templates_code_bedrooms_count_is_duplex_key; Type: CONSTRAINT; Schema: public; Owner: rentalos
--

ALTER TABLE ONLY public.unit_templates
    ADD CONSTRAINT unit_templates_code_bedrooms_count_is_duplex_key UNIQUE (code, bedrooms_count, is_duplex);


--
-- Name: unit_templates unit_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: rentalos
--

ALTER TABLE ONLY public.unit_templates
    ADD CONSTRAINT unit_templates_pkey PRIMARY KEY (id);


--
-- Name: idx_edl_items_session; Type: INDEX; Schema: public; Owner: rentalos
--

CREATE INDEX idx_edl_items_session ON public.edl_items USING btree (edl_session_id);


--
-- Name: idx_template_edl; Type: INDEX; Schema: public; Owner: rentalos
--

CREATE INDEX idx_template_edl ON public.unit_template_edl_items USING btree (template_id);


--
-- Name: idx_template_inv; Type: INDEX; Schema: public; Owner: rentalos
--

CREATE INDEX idx_template_inv ON public.unit_template_inventory_items USING btree (template_id);


--
-- Name: ux_edl_items_session_section_label; Type: INDEX; Schema: public; Owner: rentalos
--

CREATE UNIQUE INDEX ux_edl_items_session_section_label ON public.edl_items USING btree (edl_session_id, section, label);


--
-- Name: ux_edl_items_session_unique; Type: INDEX; Schema: public; Owner: rentalos
--

CREATE UNIQUE INDEX ux_edl_items_session_unique ON public.edl_items USING btree (edl_session_id, section, label);


--
-- Name: ux_edl_items_unique; Type: INDEX; Schema: public; Owner: rentalos
--

CREATE UNIQUE INDEX ux_edl_items_unique ON public.edl_items USING btree (edl_session_id, section, label);


--
-- Name: ux_template_edl_unique; Type: INDEX; Schema: public; Owner: rentalos
--

CREATE UNIQUE INDEX ux_template_edl_unique ON public.unit_template_edl_items USING btree (template_id, section, label);


--
-- Name: ux_template_inv_unique; Type: INDEX; Schema: public; Owner: rentalos
--

CREATE UNIQUE INDEX ux_template_inv_unique ON public.unit_template_inventory_items USING btree (template_id, category, name, unit);


--
-- Name: ux_tpl_edl_variant_unique; Type: INDEX; Schema: public; Owner: rentalos
--

CREATE UNIQUE INDEX ux_tpl_edl_variant_unique ON public.unit_template_edl_variant_items USING btree (template_id, variant_code, section, label);


--
-- Name: ux_tpl_inv_variant_unique; Type: INDEX; Schema: public; Owner: rentalos
--

CREATE UNIQUE INDEX ux_tpl_inv_variant_unique ON public.unit_template_inventory_variant_items USING btree (template_id, variant_code, category, name, unit);


--
-- Name: ux_unit_templates_code_bedrooms_count_is_duplex; Type: INDEX; Schema: public; Owner: rentalos
--

CREATE UNIQUE INDEX ux_unit_templates_code_bedrooms_count_is_duplex ON public.unit_templates USING btree (code, bedrooms_count, is_duplex);


--
-- Name: edl_items trg_edl_items_fill_condition_defaults; Type: TRIGGER; Schema: public; Owner: rentalos
--

CREATE TRIGGER trg_edl_items_fill_condition_defaults BEFORE INSERT OR UPDATE ON public.edl_items FOR EACH ROW EXECUTE FUNCTION public.edl_items_fill_condition_defaults();


--
-- Name: edl_items edl_items_edl_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: rentalos
--

ALTER TABLE ONLY public.edl_items
    ADD CONSTRAINT edl_items_edl_session_id_fkey FOREIGN KEY (edl_session_id) REFERENCES public.edl_sessions(id) ON DELETE CASCADE;


--
-- Name: unit_template_edl_items unit_template_edl_items_template_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: rentalos
--

ALTER TABLE ONLY public.unit_template_edl_items
    ADD CONSTRAINT unit_template_edl_items_template_id_fkey FOREIGN KEY (template_id) REFERENCES public.unit_templates(id) ON DELETE CASCADE;


--
-- Name: unit_template_edl_variant_items unit_template_edl_variant_items_template_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: rentalos
--

ALTER TABLE ONLY public.unit_template_edl_variant_items
    ADD CONSTRAINT unit_template_edl_variant_items_template_id_fkey FOREIGN KEY (template_id) REFERENCES public.unit_templates(id) ON DELETE CASCADE;


--
-- Name: unit_template_inventory_items unit_template_inventory_items_template_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: rentalos
--

ALTER TABLE ONLY public.unit_template_inventory_items
    ADD CONSTRAINT unit_template_inventory_items_template_id_fkey FOREIGN KEY (template_id) REFERENCES public.unit_templates(id) ON DELETE CASCADE;


--
-- Name: unit_template_inventory_variant_items unit_template_inventory_variant_items_template_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: rentalos
--

ALTER TABLE ONLY public.unit_template_inventory_variant_items
    ADD CONSTRAINT unit_template_inventory_variant_items_template_id_fkey FOREIGN KEY (template_id) REFERENCES public.unit_templates(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict Jbp7g1wkn5wGbJdRGVMpWXXN1NxHFwc8F4O6egRHUmcaET5TddQL8rALhNqSAAg

