--
-- PostgreSQL database dump
--

\restrict n1a9Lhdoo9qYtd3KLZRPOXg1pb1aoNYcQRaGF1BVCYWoYdM2mqoLbm2xAD6YpZx

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

-- *not* creating schema, since initdb creates it


--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS '';


--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: condition_grade; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.condition_grade AS ENUM (
    'neuf',
    'tres_bon',
    'bon',
    'moyen',
    'mauvais'
);


--
-- Name: doc_type; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.doc_type AS ENUM (
    'CONTRAT',
    'EDL',
    'INVENTAIRE',
    'ANNEXE',
    'PHOTO'
);


--
-- Name: item_state; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.item_state AS ENUM (
    'ok',
    'usure',
    'casse',
    'manquant'
);


--
-- Name: lease_status; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.lease_status AS ENUM (
    'draft',
    'active',
    'ended',
    'notice'
);


--
-- Name: payment_method; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.payment_method AS ENUM (
    'virement',
    'cb',
    'cheque',
    'especes',
    'autre'
);


--
-- Name: sign_role; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.sign_role AS ENUM (
    'BAILLEUR',
    'LOCATAIRE'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: buildings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.buildings (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    project_id uuid NOT NULL,
    name text NOT NULL,
    address text NOT NULL,
    notes text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: documents; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.documents (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    unit_id uuid,
    lease_id uuid,
    type public.doc_type NOT NULL,
    filename text NOT NULL,
    storage_path text NOT NULL,
    sha256 text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    parent_document_id uuid,
    signed_final_document_id uuid
);


--
-- Name: edl_items; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.edl_items (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    edl_session_id uuid NOT NULL,
    section text NOT NULL,
    label text NOT NULL,
    entry_condition public.condition_grade,
    entry_notes text,
    exit_condition public.condition_grade,
    exit_notes text
);


--
-- Name: edl_photos; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.edl_photos (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    edl_item_id uuid NOT NULL,
    lease_id uuid NOT NULL,
    filename text NOT NULL,
    storage_path text NOT NULL,
    mime_type text NOT NULL,
    sha256 text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: edl_sessions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.edl_sessions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    unit_id uuid NOT NULL,
    lease_id uuid NOT NULL,
    source_reference_edl_id uuid,
    status text DEFAULT 'draft'::text NOT NULL,
    entry_done_at timestamp with time zone,
    exit_done_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: inventory_catalog_items; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.inventory_catalog_items (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    category text NOT NULL,
    name text NOT NULL,
    unit text DEFAULT 'piece'::text NOT NULL,
    default_qty integer DEFAULT 0 NOT NULL
);


--
-- Name: inventory_lines; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.inventory_lines (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    inventory_session_id uuid NOT NULL,
    catalog_item_id uuid NOT NULL,
    entry_qty integer DEFAULT 0 NOT NULL,
    entry_state public.item_state DEFAULT 'ok'::public.item_state NOT NULL,
    entry_notes text,
    exit_qty integer DEFAULT 0 NOT NULL,
    exit_state public.item_state DEFAULT 'ok'::public.item_state NOT NULL,
    exit_notes text
);


--
-- Name: inventory_sessions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.inventory_sessions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    unit_id uuid NOT NULL,
    lease_id uuid NOT NULL,
    source_reference_inventory_id uuid,
    status text DEFAULT 'draft'::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: lease_amounts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.lease_amounts (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    lease_id uuid NOT NULL,
    effective_date date NOT NULL,
    rent_cents integer NOT NULL,
    charges_cents integer DEFAULT 0 NOT NULL,
    deposit_cents integer DEFAULT 0 NOT NULL,
    payment_day integer DEFAULT 5 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: lease_tenants; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.lease_tenants (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    lease_id uuid NOT NULL,
    tenant_id uuid NOT NULL,
    role text DEFAULT 'cotenant'::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: leases; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.leases (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    unit_id uuid NOT NULL,
    tenant_id uuid NOT NULL,
    start_date date NOT NULL,
    end_date_theoretical date NOT NULL,
    rent_cents integer NOT NULL,
    charges_cents integer DEFAULT 0 NOT NULL,
    deposit_cents integer DEFAULT 0 NOT NULL,
    payment_day integer DEFAULT 5 NOT NULL,
    status public.lease_status DEFAULT 'draft'::public.lease_status NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: payments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.payments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    lease_id uuid NOT NULL,
    paid_at date NOT NULL,
    amount_cents integer NOT NULL,
    method public.payment_method DEFAULT 'virement'::public.payment_method NOT NULL,
    note text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: project_members; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.project_members (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    project_id uuid NOT NULL,
    full_name text NOT NULL,
    role text DEFAULT 'indivisaire'::text NOT NULL,
    share_pct numeric,
    email text,
    phone text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: projects; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.projects (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    kind text DEFAULT 'indivision'::text NOT NULL,
    notes text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: public_links; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.public_links (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    token_hash text NOT NULL,
    lease_id uuid NOT NULL,
    document_id uuid NOT NULL,
    purpose text DEFAULT 'TENANT_SIGN_CONTRACT'::text NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    used_count integer DEFAULT 0 NOT NULL,
    last_used_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: receipts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.receipts (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    lease_id uuid NOT NULL,
    period_year integer NOT NULL,
    period_month integer NOT NULL,
    total_rent_cents integer NOT NULL,
    total_charges_cents integer NOT NULL,
    document_id uuid,
    sent_to text,
    sent_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: signatures; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.signatures (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    document_id uuid NOT NULL,
    signer_role public.sign_role NOT NULL,
    signer_name text NOT NULL,
    signature_image_path text NOT NULL,
    signed_at timestamp with time zone DEFAULT now() NOT NULL,
    ip text,
    user_agent text,
    pdf_sha256 text NOT NULL,
    audit_log jsonb DEFAULT '{}'::jsonb NOT NULL,
    sequence integer
);


--
-- Name: tenants; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.tenants (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    full_name text NOT NULL,
    email text,
    phone text,
    birth_date date,
    birth_place text,
    current_address text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: unit_reference_state; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.unit_reference_state (
    unit_id uuid NOT NULL,
    reference_edl_session_id uuid,
    reference_inventory_session_id uuid,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: units; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.units (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    code text NOT NULL,
    label text NOT NULL,
    address_line1 text NOT NULL,
    city text NOT NULL,
    postal_code text NOT NULL,
    surface_m2 numeric(8,2),
    floor text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    project_id uuid,
    building_id uuid
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email text NOT NULL,
    full_name text NOT NULL,
    password_hash text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Data for Name: buildings; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: documents; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: edl_items; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: edl_photos; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: edl_sessions; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: inventory_catalog_items; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: inventory_lines; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: inventory_sessions; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: lease_amounts; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: lease_tenants; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: leases; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.payments (id, lease_id, paid_at, amount_cents, method, note, created_at) FROM stdin;
\.


--
-- Data for Name: project_members; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: projects; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.projects (id, name, kind, notes, created_at) FROM stdin;
a2f65bf4-ddbe-48da-a16b-04a51606b053	INDIVISION DES POINTES	indivision	4 indivisaires	2026-02-01 18:28:59.30873+00
293b592c-24c1-4da2-812d-19681730afe1	PUECH-BAUDOIN	couple	Couple propri├®taire	2026-02-01 18:28:59.30873+00
ac178373-2746-4f0b-bd50-09cd8fb0a6db	DIOURI-DU RIEU	couple	Couple propri├®taire	2026-02-01 18:28:59.30873+00
\.


--
-- Data for Name: public_links; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: receipts; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.receipts (id, lease_id, period_year, period_month, total_rent_cents, total_charges_cents, document_id, sent_to, sent_at, created_at) FROM stdin;
906f9c4a-e319-4dbb-b611-221d02c1258d	c318364c-51d3-4b41-9d67-e117c3796bb2	2026	2	95000	5000	38bb7257-4480-40fa-8306-c359806661a6	bensalem.diourieloulam@gmail.com	2026-01-31 16:33:51.145357+00	2026-01-31 16:33:30.986957+00
\.


--
-- Data for Name: signatures; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: tenants; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: unit_reference_state; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: units; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.users (id, email, full_name, password_hash, created_at) FROM stdin;
79b72dfa-5a45-40aa-9d76-fef7aa95e259	admin@example.com	Admin	$2a$10$AhDZ8dBcFR0y/Q/nn57E4uydSo5bHYA15N8JmRLRzRPYxHFJUvVBG	2026-01-28 08:55:17.045377+00
\.


--
-- Name: buildings buildings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.buildings
    ADD CONSTRAINT buildings_pkey PRIMARY KEY (id);


--
-- Name: documents documents_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_pkey PRIMARY KEY (id);


--
-- Name: edl_items edl_items_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.edl_items
    ADD CONSTRAINT edl_items_pkey PRIMARY KEY (id);


--
-- Name: edl_photos edl_photos_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.edl_photos
    ADD CONSTRAINT edl_photos_pkey PRIMARY KEY (id);


--
-- Name: edl_sessions edl_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.edl_sessions
    ADD CONSTRAINT edl_sessions_pkey PRIMARY KEY (id);


--
-- Name: inventory_catalog_items inventory_catalog_items_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_catalog_items
    ADD CONSTRAINT inventory_catalog_items_pkey PRIMARY KEY (id);


--
-- Name: inventory_lines inventory_lines_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_lines
    ADD CONSTRAINT inventory_lines_pkey PRIMARY KEY (id);


--
-- Name: inventory_sessions inventory_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_sessions
    ADD CONSTRAINT inventory_sessions_pkey PRIMARY KEY (id);


--
-- Name: lease_amounts lease_amounts_lease_id_effective_date_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.lease_amounts
    ADD CONSTRAINT lease_amounts_lease_id_effective_date_key UNIQUE (lease_id, effective_date);


--
-- Name: lease_amounts lease_amounts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.lease_amounts
    ADD CONSTRAINT lease_amounts_pkey PRIMARY KEY (id);


--
-- Name: lease_tenants lease_tenants_lease_id_tenant_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.lease_tenants
    ADD CONSTRAINT lease_tenants_lease_id_tenant_id_key UNIQUE (lease_id, tenant_id);


--
-- Name: lease_tenants lease_tenants_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.lease_tenants
    ADD CONSTRAINT lease_tenants_pkey PRIMARY KEY (id);


--
-- Name: leases leases_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.leases
    ADD CONSTRAINT leases_pkey PRIMARY KEY (id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: project_members project_members_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.project_members
    ADD CONSTRAINT project_members_pkey PRIMARY KEY (id);


--
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_pkey PRIMARY KEY (id);


--
-- Name: public_links public_links_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.public_links
    ADD CONSTRAINT public_links_pkey PRIMARY KEY (id);


--
-- Name: public_links public_links_token_hash_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.public_links
    ADD CONSTRAINT public_links_token_hash_key UNIQUE (token_hash);


--
-- Name: receipts receipts_lease_id_period_year_period_month_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.receipts
    ADD CONSTRAINT receipts_lease_id_period_year_period_month_key UNIQUE (lease_id, period_year, period_month);


--
-- Name: receipts receipts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.receipts
    ADD CONSTRAINT receipts_pkey PRIMARY KEY (id);


--
-- Name: signatures signatures_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.signatures
    ADD CONSTRAINT signatures_pkey PRIMARY KEY (id);


--
-- Name: tenants tenants_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_pkey PRIMARY KEY (id);


--
-- Name: unit_reference_state unit_reference_state_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.unit_reference_state
    ADD CONSTRAINT unit_reference_state_pkey PRIMARY KEY (unit_id);


--
-- Name: units units_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.units
    ADD CONSTRAINT units_code_key UNIQUE (code);


--
-- Name: units units_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.units
    ADD CONSTRAINT units_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_buildings_project_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_buildings_project_id ON public.buildings USING btree (project_id);


--
-- Name: idx_edl_items_session; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_edl_items_session ON public.edl_items USING btree (edl_session_id);


--
-- Name: idx_edl_photos_item; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_edl_photos_item ON public.edl_photos USING btree (edl_item_id);


--
-- Name: idx_edl_photos_lease; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_edl_photos_lease ON public.edl_photos USING btree (lease_id);


--
-- Name: idx_inv_lines_session; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_inv_lines_session ON public.inventory_lines USING btree (inventory_session_id);


--
-- Name: idx_lease_amounts_effective; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_lease_amounts_effective ON public.lease_amounts USING btree (effective_date);


--
-- Name: idx_lease_amounts_lease; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_lease_amounts_lease ON public.lease_amounts USING btree (lease_id);


--
-- Name: idx_lease_tenants_lease; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_lease_tenants_lease ON public.lease_tenants USING btree (lease_id);


--
-- Name: idx_lease_tenants_tenant; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_lease_tenants_tenant ON public.lease_tenants USING btree (tenant_id);


--
-- Name: idx_payments_lease; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_payments_lease ON public.payments USING btree (lease_id);


--
-- Name: idx_public_links_lease; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_public_links_lease ON public.public_links USING btree (lease_id);


--
-- Name: idx_units_building_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_units_building_id ON public.units USING btree (building_id);


--
-- Name: idx_units_project_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_units_project_id ON public.units USING btree (project_id);


--
-- Name: buildings buildings_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.buildings
    ADD CONSTRAINT buildings_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: documents documents_lease_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_lease_id_fkey FOREIGN KEY (lease_id) REFERENCES public.leases(id) ON DELETE SET NULL;


--
-- Name: documents documents_parent_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_parent_document_id_fkey FOREIGN KEY (parent_document_id) REFERENCES public.documents(id) ON DELETE SET NULL;


--
-- Name: documents documents_signed_final_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_signed_final_document_id_fkey FOREIGN KEY (signed_final_document_id) REFERENCES public.documents(id) ON DELETE SET NULL;


--
-- Name: documents documents_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_unit_id_fkey FOREIGN KEY (unit_id) REFERENCES public.units(id) ON DELETE CASCADE;


--
-- Name: edl_items edl_items_edl_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.edl_items
    ADD CONSTRAINT edl_items_edl_session_id_fkey FOREIGN KEY (edl_session_id) REFERENCES public.edl_sessions(id) ON DELETE CASCADE;


--
-- Name: edl_photos edl_photos_edl_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.edl_photos
    ADD CONSTRAINT edl_photos_edl_item_id_fkey FOREIGN KEY (edl_item_id) REFERENCES public.edl_items(id) ON DELETE CASCADE;


--
-- Name: edl_photos edl_photos_lease_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.edl_photos
    ADD CONSTRAINT edl_photos_lease_id_fkey FOREIGN KEY (lease_id) REFERENCES public.leases(id) ON DELETE CASCADE;


--
-- Name: edl_sessions edl_sessions_lease_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.edl_sessions
    ADD CONSTRAINT edl_sessions_lease_id_fkey FOREIGN KEY (lease_id) REFERENCES public.leases(id) ON DELETE CASCADE;


--
-- Name: edl_sessions edl_sessions_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.edl_sessions
    ADD CONSTRAINT edl_sessions_unit_id_fkey FOREIGN KEY (unit_id) REFERENCES public.units(id) ON DELETE CASCADE;


--
-- Name: inventory_lines inventory_lines_catalog_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_lines
    ADD CONSTRAINT inventory_lines_catalog_item_id_fkey FOREIGN KEY (catalog_item_id) REFERENCES public.inventory_catalog_items(id) ON DELETE RESTRICT;


--
-- Name: inventory_lines inventory_lines_inventory_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_lines
    ADD CONSTRAINT inventory_lines_inventory_session_id_fkey FOREIGN KEY (inventory_session_id) REFERENCES public.inventory_sessions(id) ON DELETE CASCADE;


--
-- Name: inventory_sessions inventory_sessions_lease_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_sessions
    ADD CONSTRAINT inventory_sessions_lease_id_fkey FOREIGN KEY (lease_id) REFERENCES public.leases(id) ON DELETE CASCADE;


--
-- Name: inventory_sessions inventory_sessions_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_sessions
    ADD CONSTRAINT inventory_sessions_unit_id_fkey FOREIGN KEY (unit_id) REFERENCES public.units(id) ON DELETE CASCADE;


--
-- Name: lease_amounts lease_amounts_lease_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.lease_amounts
    ADD CONSTRAINT lease_amounts_lease_id_fkey FOREIGN KEY (lease_id) REFERENCES public.leases(id) ON DELETE CASCADE;


--
-- Name: lease_tenants lease_tenants_lease_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.lease_tenants
    ADD CONSTRAINT lease_tenants_lease_id_fkey FOREIGN KEY (lease_id) REFERENCES public.leases(id) ON DELETE CASCADE;


--
-- Name: lease_tenants lease_tenants_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.lease_tenants
    ADD CONSTRAINT lease_tenants_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE RESTRICT;


--
-- Name: leases leases_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.leases
    ADD CONSTRAINT leases_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE RESTRICT;


--
-- Name: leases leases_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.leases
    ADD CONSTRAINT leases_unit_id_fkey FOREIGN KEY (unit_id) REFERENCES public.units(id) ON DELETE CASCADE;


--
-- Name: payments payments_lease_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_lease_id_fkey FOREIGN KEY (lease_id) REFERENCES public.leases(id) ON DELETE CASCADE;


--
-- Name: project_members project_members_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.project_members
    ADD CONSTRAINT project_members_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: public_links public_links_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.public_links
    ADD CONSTRAINT public_links_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id) ON DELETE CASCADE;


--
-- Name: public_links public_links_lease_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.public_links
    ADD CONSTRAINT public_links_lease_id_fkey FOREIGN KEY (lease_id) REFERENCES public.leases(id) ON DELETE CASCADE;


--
-- Name: receipts receipts_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.receipts
    ADD CONSTRAINT receipts_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id) ON DELETE SET NULL;


--
-- Name: receipts receipts_lease_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.receipts
    ADD CONSTRAINT receipts_lease_id_fkey FOREIGN KEY (lease_id) REFERENCES public.leases(id) ON DELETE CASCADE;


--
-- Name: signatures signatures_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.signatures
    ADD CONSTRAINT signatures_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id) ON DELETE CASCADE;


--
-- Name: unit_reference_state unit_reference_state_reference_edl_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.unit_reference_state
    ADD CONSTRAINT unit_reference_state_reference_edl_session_id_fkey FOREIGN KEY (reference_edl_session_id) REFERENCES public.edl_sessions(id) ON DELETE SET NULL;


--
-- Name: unit_reference_state unit_reference_state_reference_inventory_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.unit_reference_state
    ADD CONSTRAINT unit_reference_state_reference_inventory_session_id_fkey FOREIGN KEY (reference_inventory_session_id) REFERENCES public.inventory_sessions(id) ON DELETE SET NULL;


--
-- Name: unit_reference_state unit_reference_state_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.unit_reference_state
    ADD CONSTRAINT unit_reference_state_unit_id_fkey FOREIGN KEY (unit_id) REFERENCES public.units(id) ON DELETE CASCADE;


--
-- Name: units units_building_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.units
    ADD CONSTRAINT units_building_id_fkey FOREIGN KEY (building_id) REFERENCES public.buildings(id) ON DELETE SET NULL;


--
-- Name: units units_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.units
    ADD CONSTRAINT units_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict n1a9Lhdoo9qYtd3KLZRPOXg1pb1aoNYcQRaGF1BVCYWoYdM2mqoLbm2xAD6YpZx

